button {
  background-color: #D7A761;
  color: white;
  font-size: 40px;
  font-family: "Futura", sans-serif;
  transition: all 0.3s ease;
}
.button:hover {
  background-color: #8D7758;
  transform: translateY(-5px);
}