/* --- Компонент: Шеф-карточка --- */
.chef-card {
  width: 100%;
  max-width: 509px;
  border-radius: 12px;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  max-height: 1235px;
  height: 100%;
}

.chef-card__image-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 150%;
  overflow: hidden;
}
.chef-card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 101%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease;
}
.chef-card__image:hover {
  transform: scale(1.05);
}
.chef-card__content {
  padding: 11px;
  background: var(--card-color);
  height: 474px;
}
.chef-card__name {
  margin-top: 9px;
  font-size: 40px;
  font-family: 'Futura', sans-serif;
  line-height: 1.2;
  font-weight: bold;
  color: var(--text-color);
}
.chef-card__title {
  margin-top: 22px;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
  color: var(--text-color);
}
.chef-card__bio {
  margin-top: 22px;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
  color: var(--text-color);
}