.hero {
  position: relative;
  margin: 31px;
  height: 614px;
  overflow: hidden;
}

.hero__image {
  width: 100%;
  height: 100%;
}

.hero__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  color: white;
  padding: 33px;
  box-sizing: border-box;
}

.hero__title {
  font-size: 40px;
  font-family: 'Futura', sans-serif;
  margin-bottom: 30px;
  text-transform: uppercase;
  max-width: 900px;
  line-height: 1.2;
  font-weight: 700;
}

.hero__button {
  color: white;
  font-size: 40px;
  font-family: "Futura", sans-serif;
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: 500;
}
.hero__button:hover {
  background-color: #D7A761;
  transform: translateY(-5px);
}
