body {
  margin-left: 100px;
  margin-right: 100px;
}
.section-about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-name {
  margin-top: -16px;
  text-decoration: none;
  color: black;
  font-family: 'Futura', sans-serif;
  font-size: 48px;
}
.about-text {
  margin-top: -32px;
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  text-align: center;
}
.section-advantages {
  display: flex;
  flex-wrap: wrap;
  margin-top: 44px;
}