.header-theme {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.header-theme:hover {
  transform: scale(1.1);
}

.header-theme svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
  transition: fill 0.3s ease;
}