.header-theme {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.header-theme:hover {
  transform: scale(1.1);
}
.header-theme svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
  transition: fill 0.3s ease;
}
@media (max-width: 1279px) and (min-width: 768px) {
  .header-theme {
    width: 36px;
    height: 36px;
  }
}
@media (max-width: 767px) {
  .header-theme {
    width: 32px;
    height: 32px;
  }
  .header-theme svg {
    width: 32px !important;
    height: 32px !important;
  }
}