<div class="advantage-card"
     style="border-radius: @@border-radius;
            padding-left: @@padding-x;
            padding-right: @@padding-x;
            padding-top: @@padding-y;
            padding-bottom: @@padding-yy;
            background-color: @@background-color;
            text-align: center;
            max-width: 530px;
            margin: 0 auto;">
    <div class="card-vector">@@img</div>
    <div class="advantage-name">@@title</div>
    <div class="advantage-text">@@text</div>
</div>