<header class="header">
    <div class="header-logotype-name">
        <picture >
            <img src="./assets/images/logotype.png" class="header-logo">
        </picture>
    </div>
    <nav class="menu">
        <ul>
            <li><a href="/index.html">Главная</a></li>
            <li><a href="/shop.html">О Нас</a></li>
            <li><a href="/cart.html">Контакты</a></li>
            <li><a href="/contact.html">Меню</a></li>
        </ul>
    </nav>
        <div class="header-theme">
            <a href="/checkout.html"><picture>
                <img src="./assets/images/theme.webp" class="dark">
            </picture></a>
</header>