// ==== 1. Utils ====
@use 'utils/variables';

// ==== 2. Base styles ====
@use 'base/reset';
@use 'base/typography';
@use 'base/layout';

// ==== 3. Layout ====
@use 'layout/container';

// ==== 4. Components ====
@use 'components/button';
@use 'components/card';
@use 'components/advantage';
@use 'components/footer';
@use 'components/header';
@use 'components/feedback';
@use 'components/modal_window';
@use 'components/gallery';
@use 'components/hero_banner';
@use 'components/theme';
@use 'components/menu_card';
@use 'components/page_one';
@use 'components/page_two';
@use 'components/page_three';
@use 'components/page_four';
body {
  background-color: #FFF4DA;
}